# Loops:

- Iterating code
  - For Loops
  - while Loops

- intialization (intial point to start the loop)
- increment/decrement
- condition to stop the loop

**For Loop**
- for <variable> in range(<value)>:
-     <write your code here!>

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

**Case-1**
**range(stop)**
- by default start value is :0 
- step size= +1
- last=stop-1
- range(3)
    -start value=0
    - increment=1
    - last=stop-1=3-1=2

In [6]:
for i in range(5):
    print("Hell0",end=" ")

# start=0 increment=1 stop=stop-1=5-1=4

Hell0 Hell0 Hell0 Hell0 Hell0

**Case-2: range(start,stop)**
-  start value=start
- step size= 1
- last=stop-1

In [8]:
for i in range(3,8):
    print(i)

#start=3 increment=2 stop=8-1=7

3
4
5
6
7

In [2]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [10]:
for i in range(1,6):
    num=eval(input("enter the 5 numbers"))
    print(num*num)

enter the 5 numbers 1

1

enter the 5 numbers 2

4

enter the 5 numbers 3

9

enter the 5 numbers 4

16

enter the 5 numbers 5

25

In [12]:
import random
for i in range(1,6):
    num=random.randint(2,20)
    print(num*num)

196
256
361
256
121

**case-3:range(start,stop,step)**
- start= start
- stop= postive mean (+ sign)
    - gap=positive step
    - last=stop-1
- step= negative means (- sign)
    - gap=negative step
    - last =stop+1

In [14]:
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

In [16]:
for i in range(-2,20,-2):
    print(i)

In [18]:
for i in range(2,-20,-3):
    print(i,end=" ")

2 -1 -4 -7 -10 -13 -16 -19

In [20]:
for i in range(-2,20,-2):
    print(i)

#not possible

In [22]:
for i in range(5):
    num=eval(input("enter the number"))
    if num%2==0:
        print("even")
    else:
        print("odd")

enter the number 1

odd

enter the number 2

even

enter the number 3

odd

enter the number 4

even

enter the number 5

odd

In [24]:
for i in range(10):
    n1=eval(input("enter the 7th table:"))
    print(n1*7)  # print(f"7x{i}={7*i}")

enter the 7th table: 1

7

enter the 7th table: 2

14

enter the 7th table: 3

21

enter the 7th table: 4

28

enter the 7th table: 5

35

enter the 7th table: 6

42

enter the 7th table: 7

49

enter the 7th table: 8

56

enter the 7th table: 9

63

enter the 7th table: 10

70

In [2]:
num=eval(input("enter which divisior you want"))
for i in range(1,num+1):
    if num%i==0:
        print(f"{i} is division for {num}")

enter which divisior you want 44

1 is division for 44
2 is division for 44
4 is division for 44
11 is division for 44
22 is division for 44
44 is division for 44

In [4]:
def divisor(num):
    for i in range(1,num+1):
        if num%i==0:
            print(f"{i} is division for {num}")

divisor(80)

1 is division for 80
2 is division for 80
4 is division for 80
5 is division for 80
8 is division for 80
10 is division for 80
16 is division for 80
20 is division for 80
40 is division for 80
80 is division for 80

In [ ]:
def divisor1(num):
    for i in range(1,num+1):
        if num%i==0:
            print(f"{i} is division for {num}")
        return(i)

div=divisor1(89)
div

In [ ]:
for i in range(5):
    print(i,end=' ')

In [ ]:
i
# i variable will give always last value
# do not print i outside the for loop

In [ ]:
num=eval(input("enter the first 10 numbers"))
for i in range(1,11):
    num=num+i
    print(f"the sum of first natural number are:{num}")

**summation wrapper**
- always initize the summ=0 before the loop
- inside loop summ=summ+i
- then print summ value otside the loop

**counter wrapper**
- before the loop count=0
- inside the loop count=count+1,but this line under the successful operation.
- then the print the count outside the loop

In [18]:
count=0
num=eval(input("enter which divisior you want"))
for i in range(1,num+1):
    #count=count+1
    if num%i==0:
        count=count+1
        print(f"{i} is division for {num}")
print(count)

#for i in range(1,10+1)
# in phone.

enter which divisior you want 80

1 is division for 80
2 is division for 80
4 is division for 80
5 is division for 80
8 is division for 80
10 is division for 80
16 is division for 80
20 is division for 80
40 is division for 80
80 is division for 80
10

In [14]:
even_count=0
odd_count=0
for i in range(5):
    num=eval(input("enter the number"))
    if num%2==0:
        even_count=even_count+1

    else:
        odd_count=odd_count+1
print("the no of even are:",even_count)
print("the no of odd are:",odd_count)

enter the number 1
enter the number 2
enter the number 3
enter the number 4
enter the number 5

the no of even are: 2
the no of odd are: 3

In [ ]:
count=0
summ=0
num=eval(input("enter which divisior you want"))
for i in range(1,num+1):
    #count=count+1
    if num%i==0:
        summ=summ+i
        count=count+1
        print(f"{i} is division for {num}")
print(count)
print(summ)

In [30]:
even_count=0
even_summ=0
odd_count=0
odd_summ=0
for i in range(5):
    num=eval(input("enter the number"))
    if num%2==0:
        even_count=even_count+1
        even_summ=even_summ+num

    else:
        odd_count=odd_count+1
        odd_summ=odd_summ+num #not use the i always
print("the no of even are:",even_count)
print("the no of odd are:",odd_count)
print("the sum of no of even are:",even_summ)
print("the sum of no of odd are:",odd_summ)

enter the number 1
enter the number 2
enter the number 3
enter the number 4
enter the number 5

the no of even are: 2
the no of odd are: 3
the sum of no of even are: 6
the sum of no of odd are: 9

In [ ]:
from random import randint
for i in range(0,3):
    n1=randint(1,10)
    n2=eval(input("enter the number"))
    if n1==n2:
        print("won")
        break
    else:
        print("lost")

In [ ]:
from random import randint
for i in range(3):
    n1=randint(1,10)
    n2=eval(input("enter the number"))
    if n1==n2:
        print(f"you have won the game:{n1==n2}")
        break
    else:
        print(f"the number of chances:{3-i-1} are done")

In [ ]:
from random import randint
for i in range(3):
    n1=randint(1,10)
    n2=eval(input("enter the number"))
    if n1==n2:
        print(f"you have won the game:{n1==n2}")
        break
    else:
        print(f"the number of chances:{3-i-1} are done")
print("All the chances are lost try after 24hours")

In [ ]:
from random import randint
num=eval(input("enter the no of chances you want to give"))
for i in range(1,num+1):
    n1=randint(1,10)
    print(n1)
    n2=eval(input("enter the number"))
    if n1==n2:
        print("won")
        break
    else:
        print("the chances left is:",num-i)
        print("lost")

In [ ]:
from random import randint
num=eval(input("enter the no of chances you want to give"))
for i in range(1,num+1):
    n1=randint(1,10)
    print(n1)
    n2=eval(input("enter the number"))
    if n1==n2:
        print("won")
        break
    elif num-i==0:
        print("lost")
        print("All the chances are lost try after 24hours")
    else:
        print("lost")
        print("the chances left is:",num-i)

**in**

- range operator excpect a value inside

- in operator access the value directly

In [ ]:
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'

for i in "python":
    print(i,end="")

In [ ]:
'p' == 'P'

In [ ]:
'p' == 'p'

In [ ]:

'p' < 'P'

In [ ]:

'p' > 'P'

In [ ]:
#ASCII : American standard code for information interchange.

**ord-chr**

In [ ]:
ord(65)

In [ ]:
ord("A")

In [ ]:
chr(65)

In [ ]:
ord("a")

In [ ]:
for i in range(32,123):
    print(i,"-->",chr(i))

In [ ]:
# we can change to any language.

In [ ]:
import string
for i in string.ascii_uppercase:
    print(i,ord(i))

In [ ]:
import string
dir(string)

**Iterator**
- in operator access direct elements which is called iterator
- iterator means
      - string
     - list
    - tuple
    - dictionary
- Iterator means which can be print by using for loop
- in operator don't use a numbers
- range operator uses only numbers

In [ ]:
sorted("Jai")

In [ ]:
chr(400)

In [ ]:
for i in():
    ord("A")

In [ ]:
import string
for i in string.ascii_lowercase:
    print(i,ord(i))

**While loop**

**but in while loop all 3 are happend in 3 lines**

In [ ]:
#intial value

# condition
    # write your code
    #increment/decrement


<intial value>
while <condition>:
    <write in code here>
    <increment/decrement>

In [2]:
i=2
while i<=18:
    print(i,end=" ")
    i=i+2


    
# step-1: i=2 while 2<=18 True print(2) i=2+2=4
# step-2: i=4 while 4<=18 True print(4) i=2+4=6
# step-3: i=6 while 6<=18 True print(6) i=2+6=8
# step-4: i=8 while 8<=18 True print(8) i=2+8=10
#.
#.
#.
# step-1: i=18 while 18<=18 True print(18) i=2+18=20
# step-1: i=20 while 20<=18 False print(20) i=2+18=22

2 4 6 8 10 12 14 16 18

In [ ]:
i=2
while i<18:
    print(i,end=" ")
    i=i+2

In [ ]:
i=2
while i!=18:
    print(i,end=" ")
    i=i+2

In [4]:
i=10
while i>=1:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [ ]:
i=-1
while i>-11:
    print(i,end=" ")
    i=i-1

In [ ]:
i=10
while i!=0:
    print(i,end=" ")
    i=i-1

**True**

- True is the condition always give a permission to enter inside the loop

- Some time we can not fix the condition to enter inside the loop

- but we know stop condition

In [ ]:
i=-1
while True:
    print(i,end=" ")
    i=i-1
    if i==-10:
        print(i)
        break

In [ ]:
i=2
while True:
    print(i,end=" ")
    i=i+2
    if i==20:
        break

In [ ]:
i=10
while True:
    print(i,end=" ")
    i=i-1
    if i==0:
        break

**When to use for and while loop**

- if we observe for loop **start stop step**

- there is no infinite loop situation here

- if we want to give infinite loop situation

    - based on correct value we want to stop the loop then we goes for while loop

In [6]:
from random import randint
while True:
    n1=randint(1,10)
    print(n1)
    n2=eval(input("enter a number"))
    if n1==n2:
        print("you won")
        break
    else:
        print("you lost")

8

enter a number 7

you lost
7

enter a number 7

you won

In [3]:
while True: 
    num=eval(input("enter a number"))
    print(num*num)
    break

enter a number 4

16