In [2]:
a=10
b=20
print(a,b)

10 20

In [4]:
print(a),print(b)

10
20

(None, None)

In [6]:
a,b

(10, 20)

In [8]:
a #here it gives only the last values for that we are using print() statements.
b

20

In [10]:
a=100
b=200
c=a+b
print("the addition of",a,"and",b,"is", c)

the addition of 100 and 200 is 300

In [26]:
name="jai"
age=19
city="hyd"
print("My name is ", name," I'm", age," yrs old and from", city)

My name is  jai  im 19  yrs old and from hyd

# format

In [31]:
a=100
b=200
c=a+b
print("the addition of",a,"and",b,"is", c)
print("the addition of{} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300
the addition of100 and 200 is 300

In [39]:
name="Jai"
height=159
weight=75
print("My name is {} my height is {} and weight is {}".format(name,height,weight))

My name is Jai my height is 159 and weight is 75

In [54]:
n1=200
n2=300
add=n1+n2
sub=n1-n2
mult=n1*n2
div=n1/n2
print("the addition of {} and {} is {}".format(n1,n2,add))
print("the subtraction of {} and {} is {}".format(n1,n2,sub))
print("the multiplication of {} and {} is {}".format(n1,n2,mult))
print("the division of {} and {} is {}".format(n1,n2,div))

the addition of 200 and 300 is 500
the subtraction of 200 and 300 is -100
the multiplication of 200 and 300 is 60000
the division of 200 and 300 is 0.6666666666666666

# Fstring - use f before the " "

In [76]:
n1=100
n2=300
add=n1+n2
sub=n1-n2
mult=n1*n2
div=n1/n2
print(f"the addition of {n1} and {n2} is {add}")
print(f"the subtraction of {n1} and {n2} is {sub}")
print(f"the multiplication of {n1} and {n2} is {mult}")
print(f"the division of {n1} and {n2} is {div}")

the addition of 100 and 300 is 400
the subtraction of 100 and 300 is -200
the multiplication of 100 and 300 is 30000
the division of 100 and 300 is 0.3333333333333333

- we have a situation want to combine two print statements

$end$ 
- $ used to change the font
- end operator used to combine multiple print statements

In [82]:
print(20)
print(24)

20
24

In [109]:
print(20, end=" ")
print("value")

20 value

In [104]:
print(233, end=" ")
print(244, end=" ")
print(255)

233 244 255

- we want to separate multiple variables in one print statement  we use below separate operate

$ Separater $

In [115]:
print(20,30,sep="=!")

20=!30

In [4]:
print('the addition of 3+4 is',3+4,".")

the addition of 3+4 is 7 .

In [127]:
a=3
b=4
c=a+b
print("addition of {} and {} is {}.".format(a,b,c))

addition of 3 and4 is 7.

In [131]:
print(f"addition of {a} and {b} is {c}.")

addition of 3 and 4 is 7.

In [163]:
print("the addition of 3+4 is",3+4 ,sep=" =")

the addition of 3+4 is =7

In [167]:
input("enter a num")

enter a num 20

'20'

In [171]:
input("enter your name")
input("enter age:")
input("city:")

enter your name Jai
enter age: 20
city: hyd

'hyd'

In [183]:
a=int(input('enter value of a:'))
b=int(input('enter value of b:'))
a+b

enter value of a: 10
enter value of b: 20

30